@model CreateAboutDto

@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımızda İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Hakkımızda Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Abouttitle">Hakkımızda Başlıgını Giriniz.</label>
                                <input type="text" class="form-control" asp-for="Title" id="Abouttitle">
                            </div>
                            <div class="form-group">
                                <label for="Aboutimage">Görsel Url Giriniz.</label>
                                <input type="text" class="form-control" asp-for="ImageUrl" id="Aboutimage">
                            </div>
                            <div class="form-group">
                                <label for="Aboutdesc">Açıklamayı Giriniz.</label>
                                <textarea rows="5" class="form-control" asp-for="Description" id="Aboutdesc"></textarea>
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Hakkımızda Ekle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




