
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial") 

<body>

    <div class="hero_area">
        <div class="bg-box">
            <img src="~/feane/images/hero-bg.jpg" alt="">
        </div>
        @await Component.InvokeAsync("_UILayoutNavbarComponentPartial")

        @await RenderSectionAsync("HomeSlider", false)
    </div>
    <!-- book section -->
    @RenderBody()
    <!-- end book section -->
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")
    <!-- footer section -->
    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>
</html>
